* {
  margin: 0;
  padding: 0;
  color: rgb(174, 172, 172);
  font-family: sans-serif;
}


body {
  background: rgb(152, 212, 193);
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 150px;
  background: #100000;
  font-size: xx-large;
  
  
}


.theme-box {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  
}

.background-color-text {
  background: black;
 
  /* font-size: x-large;
  font-weight: bolder; */
  padding: 30px 50px;
  margin-top: 70px;
  border-radius: 10px;
  text-wrap: inherit;
}

.click-button {
  
  background: black;
  padding: 20px 30px;
  /* font-size: x-large;
  font-weight: bolder; */
  border-radius: 7px;
  margin-top: 40px;
  font: inherit;
  /* border: none;
  outline: none; */
  border: none;
}

@media (max-width: 600px) {
  .theme-box{
    font-size: small;
    font-weight: bolder;
  }
  .background-color-text, .click-button{
    padding: 20px 20px;
  }
  
  .header {
    height: 150px;
    font-size: medium;
  }
  
}